/* .body {
    background-color: #0f0524;
    color: white;
    border: none;
    width: 100%;
    height: 100%;
} */
  
/* .search {
    position: relative;
    margin: 0 auto;
    width: 800px;
    outline: none;

} */

/* .search input {
    height: 40px;
    width: 100%;
    background-color: white;
    border-radius: 13px;
}

.search input:focus {
    outline: none;
    border-color: #66b1ee;
} */

.card {
    /* background-color: #0f0524;
    border-width: 2px;
    border-color: #0f0524;
    color: white; */
    /* align-items: center; */
    overflow-wrap: normal;
    /* padding: 5px 5px 5px 5px; */
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-toolbar {
    marginleft: 15px;
}

.card-body {
    background-color: #ffffff;
    border-width: 0px;
    border-color: #0f0524;
    color: black;
    align-items: center;
    overflow-wrap: normal;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.card-title {
    word-wrap: break-word;
}

.container {
    padding: 15px 30px;
    background: '#0f0524',
}

.volunteers {
    overflow-wrap: normal;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}


